<%- include('top'); -%>

    <form action="/search" method="POST">
        <div class="field is-grouped">
            <p class="control">
                <input class="input" type="text" name="query" placeholder="Keress...">
            </p>
            <p class="control">
                <input type="submit" class="button is-link" value="Mehet!">
            </p>
        </div>
    </form>
    <br>

<% if(locals.results){%>
        <div class="columns is-multiline is-8">
            <% results.forEach(el=> {%>
                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="<%=el.poster%>" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">

                                    <p class="title is-4">
                                        <%=el.title%>
                                    </p>
                                    <p class="subtitle is-6">
                                        <%=el.year%>
                                    </p>
                                </div>
                            </div>

                            <div class="content">
                                <span class="has-tooltip-bottom" data-tooltip="<%=el.rating%>">
                                    <progress style="margin-bottom:5px"
                                        class="progress <%=(el.rating>8?'is-success':(el.rating>4?'is-warning':'is-danger'))%>"
                                        value="<%=el.rating%>" max="10">80%</progress>
                                </span>
                                <div>
                                    <%=el.description%>
                                </div>
                            </div>

                        </div>
                        <footer class="card-footer">
                            <a onclick="selectMovie('<%=el.id%>')" class="card-footer-item has-text-success-dark">Kiválaszt</a>
                        </footer>
                    </div>
                </div>
                <%})%>
        </div>

        <script>
            let results = <%- JSON.stringify(results) %>
        </script>
        <script>
            window.historyInitiated = true;
            window.addEventListener("popstate", function(e) {
            if (window.historyInitiated) {
                window.location.reload();
            }
            });

            function selectMovie(id) {
                document.querySelector('table').style = '';
                document.querySelector('tbody').innerHTML = results.find(el => el.id == id).torrents.map(el => `
                <tr>
                    <td>${el.name}</td>
                    <td>
                        <span class="tag is-info">
                            ${el.type.alt}
                        </span>
                    </td>
                    <td>${el.size}</td>
                    <td>${el.seeders}</td>
                    <td>${el.leechers}</td>
                    <td><button class="button is-success" onClick="downloadTorrent('${el.id}')">Letöltés</button></td>
                </tr>
                `).join('');

                const url = window.location.href.split('/').slice(0, 5).join('/');

                history.pushState({ selected: id }, '', url+'/'+id);

                document.querySelector('table').scrollIntoView();
            }



            function downloadTorrent(id) {
                console.log(JSON.stringify(results.map(el => {el.torrents = el.torrents.filter(el2 => el2.id==id); return el;}).filter(el => el.torrents.length>0)[0]))
                fetch('/download', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(results.map(el => {el.torrents = el.torrents.filter(el2 => el2.id==id); return el;}).filter(el => el.torrents.length>0)[0])
                })
                .then(response => {
                    if(response.status==200)
                    {
                        Swal.fire(
                        'Siker!',"",
                        'success'
                        )
                    }
                    else
                    {
                        console.log(response)
                        Swal.fire(
                        'Gáz van!',
                        'Valami rossz választ kaptál: '+response.statusText,
                        'error'
                        )
                    }
                    results = <%- JSON.stringify(results) %>;

                })
            }
        </script>


<table <%- !locals.selected?'style="display:none"':''%> class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Seeders</th>
        <th>Leechers</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

<%if(locals.selected){%>
    <script>selectMovie('<%=selected%>')</script>
<%}%>

<%}%>
<%- include('bottom'); -%>